<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" type='text/css' href="/estilos/estilo.css">

    <title> <%= title %> </title>
  </head>
  <body>
    
    <header>
      <img class="logo" src="/imagens/noticia.png" alt="">         
        <nav class="menuPrincipal">
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="/noticias/noticiasEsporte/Esporte/futbool">Futbool</a></li>
                <li><a href="#">Basquete</a></li>
                <li><a href="#">Tenis</a></li>
                <li><a href="#">Copa do Mundo</a></li>
            
            </ul>
        </nav>
    </header>    
        <main id='corpo'>
            <h2>Esportes</h2>
  
            <hr>
            
  
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eget pharetra mauris, sit amet pellentesque urna. Mauris non cursus erat. Nunc malesuada nisl et tellus tempor, non accumsan magna aliquam. Pellentesque molestie lacinia lorem vel dapibus. Vivamus at maximus orci. Aenean est sapien, congue sit amet aliquam vel, placerat nec orci. Duis sit amet maximus purus. Nam at arcu maximus, gravida lacus in, pharetra enim. Nam sagittis laoreet euismod. Cras bibendum volutpat suscipit. In consectetur eleifend lacus, quis dapibus neque auctor vitae.</p>
  
            <img src="/imagens/esporte.jpg" alt="">
  
            <hr>
  
            <p> Ut vel convallis elit, in varius sem. Vivamus quis congue lacus, sed feugiat massa. In sollicitudin condimentum laoreet. Integer vel sagittis massa, ac elementum lacus. Maecenas bibendum risus urna, sed feugiat odio malesuada non. Ut dictum dui mauris, ac placerat nunc pellentesque vel. Sed quis ante sed ligula scelerisque placerat. Cras vitae massa sapien. Proin eu metus eu nisl vehicula eleifend. Aliquam eleifend lacinia facilisis. Duis gravida eleifend metus, quis ultricies augue viverra in.
             
              
             <p>Nam nec luctus nisl, quis ornare ante. Suspendisse luctus dolor mi, ac malesuada nibh luctus eu. Quisque ornare tempus eros, a dictum nulla venenatis et. Morbi rutrum placerat nisl, ac egestas ex. Donec malesuada, sem vitae eleifend dapibus, leo nulla porta purus, a vehicula nulla eros eu ex. Cras tincidunt lectus elit, ultricies consequat quam laoreet eu. Maecenas pharetra maximus urna ut fringilla. Aenean vitae vestibulum nibh, quis bibendum nulla. Nunc tempor leo laoreet risus elementum, eget dictum ipsum efficitur. Nam lorem tellus, consectetur nec mi quis, elementum tristique ipsum. Phasellus venenatis iaculis erat vel rutrum. Sed vehicula elementum ex, in interdum enim mollis in.</p>
          </main>     

    
    <footer>

      <%= autor %>

    </footer>
    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>